#cart {
  grid-area: cart;
  display: none;
  background-color: whitesmoke;
  color: #000;
  text-align: center;
  height: calc(100% - 4.625rem);
  width: 100%;
  padding: 1rem 0;
  z-index: 1;
  position: fixed;
  top: 4.625rem;
  /* lo que mide el nav, despues cambiar cuando se abre el menu desplegable */
  left: 50%;
  /* junto al transform centra el carrito al medio*/
  transform: translateX(-50%);
  overflow-x: hidden;
}
#cart #cart__close-btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
#cart #cart__container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  flex-direction: column;
  height: auto;
  overflow-y: auto;
}
#cart #cart__container .cart__item {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.25rem;
  background-color: white;
  color: black;
  margin-bottom: 0.5rem;
}
#cart #cart__container .cart__item .cart__item-img {
  grid-area: item-img;
  width: 5rem;
  height: 100%;
  object-fit: contain;
  display: block;
}
#cart #cart__is-empty {
  font-size: 1.5rem;
  margin: 1rem 0;
}
#cart #cart__total-price {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.cart__item-name {
  font-size: 1.25rem;
}

.cart__item-qty-container {
  display: flex;
  border-radius: 0.5rem;
  justify-content: center;
  text-align: center;
}
.cart__item-qty-container .cart__item-quantity {
  width: 4rem;
  font-size: 1rem;
  line-height: auto;
  text-align: center;
  border: none;
  border: #000 solid 0.1rem;
  border-radius: 0.5rem;
}
.cart__item-qty-container .cart__qty-btn {
  display: none;
  background-color: transparent;
  color: black;
  font-size: 1.25rem;
  border: none;
}

.cart__item-price {
  font-size: 1rem;
  color: #585858;
}

.cart__item-total-price {
  font-size: 1.25rem;
}

.cart__remove-btn {
  width: 3rem;
  border: none;
  height: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cart__item-qty-container .cart__qty-btn {
    display: block;
    padding: 0.25rem;
  }
  .cart__item-qty-container .cart__item-quantity {
    width: 5rem;
  }

  .cart__item-price {
    font-size: 1rem;
  }

  .cart__item-total-price {
    font-size: 1.4rem;
  }
}
/*  Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #cart {
    width: 65%;
    box-shadow: -1px 0 0 black, 1px 0 0 black;
    /* Para aplicar "outline" a los costados */
  }
}
/* X-Large devices (large desktops, 1200px and up) */
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #cart {
    width: 50%;
  }
}
#register-container {
  padding: 2rem 1rem;
}

/* Small devices (landscape phones, 576px and up) */
/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #register-container {
    padding: 2rem 4rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #register-container {
    padding: 2rem 8rem;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #register-container {
    padding: 2rem 12rem;
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #register-container {
    padding: 2rem 20rem;
  }
}
#login-container {
  padding: 2rem 1rem;
}

/* Small devices (landscape phones, 576px and up) */
/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #login-container {
    padding: 2rem 4rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #login-container {
    padding: 2rem 8rem;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #login-container {
    padding: 2rem 12rem;
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #login-container {
    padding: 2rem 20rem;
  }
}
#store {
  padding: 0.75rem var(--bs-gutter-x, 0.75rem);
  background-color: white;
  text-align: center;
}
#store #store__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#store .store__item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}
#store .store__item .card-img-top {
  height: 18.75rem;
  object-fit: cover;
}

* {
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

main {
  grid-area: main;
  margin-top: 4.625rem;
  /* lo que mide el navbar, para que no se superponga */
}

.principal-grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

main {
  grid-area: main;
}

button:focus {
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.active-category {
  font-weight: bold;
  text-decoration: underline;
}

nav {
  grid-area: header;
  background-color: whitesmoke;
  border-bottom: black solid 0.1rem;
}
nav .logo {
  font-style: italic;
  font-size: 2rem;
}
nav .ms-auto #nav__cart-btn {
  font-size: 2rem;
  z-index: 2;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
}
nav .ms-auto #nav__cart-btn #nav__cart-badge {
  font-size: 0.75rem;
  opacity: 0;
}
nav .ms-auto .navbar-toggler {
  border: none;
  outline: none;
}
nav .ms-auto .navbar-toggler:focus {
  box-shadow: none;
}
nav .ms-auto .navbar-toggler[aria-expanded=true] {
  color: #000;
}
nav .navbar-collapse {
  justify-content: space-between;
}
nav .navbar-collapse .navbar-nav a {
  font-size: 1.5rem;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0.5rem;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  background-color: whitesmoke;
  border-top: black solid 0.1rem;
}
footer p {
  margin: 0;
  font-size: 1rem;
}

/* Small devices (landscape phones, 576px and up) */
/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-nav a {
    text-decoration: underline rgba(0, 0, 0, 0);
    transition: text-decoration-color 400ms;
  }

  .navbar-nav a:hover {
    text-decoration-color: black;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-collapse {
    margin-right: 2.25rem;
  }

  #nav__cart-btn {
    position: fixed;
    right: 0;
    transform: translateY(-50%);
    margin-right: var(--bs-gutter-x, 0.75rem);
    margin-right: 1rem;
  }
  #nav__cart-btn #nav__cart-badge {
    font-size: 0.75rem;
    opacity: 0;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
/* XX-Large devices (larger desktops, 1400px and up) */

/*# sourceMappingURL=style.css.map */
